@model QuoteModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> MyDailyHub </h1> <br />
</div>

<h3> Today's date: @DateTime.Now </h3> <br />
<h3> Quote of the day: </h3>

@if (Model != null)
{
    <h4> @Model.Text </h4>
    <h4><i> @Model.Author </i></h4>
}
else
{
    <span>Your quote could not be found.</span>
}
