@{
    ViewData["Title"] = "Home Page";
}

@model QuoteModel
<div class="text-center">
    <h1 class="display-4">Welcome to your Daily Hub!</h1> <br />
    <h2>Your quote of the day: </h2>

    @if (Model != null)
    {
        <h2> @Model.Text </h2>
        <h2> @Model.Author </h2>
    }
    else
    {
        <span>Your quote could not be found :(</span>
    }


</div>


