@model NewsModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> MyDailyHub @DateTime.Now.ToString("d") </h1>
</div>

<div style="text-align:center">

    @if (Model != null)
    {
        @*<p> "@Model.Text" - <i> @Model.Author </i> </p>*@
    }
    else
    {
        <p>Your quote could not be found.</p>
    }

</div>

<div> WEATHER AREA </div>
<br />

<div> NEWS AREA </div>
<br />





